[submodule "themes/sublime-text"]
	path = themes/sublime-text
	url = https://github.com/monokai-pro/sublime-text
[submodule "themes/vscode"]
	path = themes/vscode
	url = https://github.com/monokai-pro/vscode
[submodule "themes/jetbrains"]
	path = themes/jetbrains
	url = https://github.com/monokai-pro/jetbrains
[submodule "themes/zed"]
	path = themes/zed
	url = https://github.com/monokai-pro/zed
[submodule "themes/xfce4-terminal"]
	path = themes/xfce4-terminal
	url = https://github.com/monokai-pro/xfce4-terminal
[submodule "themes/xed"]
	path = themes/xed
	url = https://github.com/monokai-pro/xed
[submodule "themes/opencode"]
	path = themes/opencode
	url = https://github.com/monokai-pro/opencode.git
