[submodule "themes/sublime-text"]
	path = themes/sublime-text
	url = https://github.com/monokai-pro/sublime-text
[submodule "themes/vscode"]
	path = themes/vscode
	url = https://github.com/monokai-pro/vscode
[submodule "themes/jetbrains"]
	path = themes/jetbrains
	url = https://github.com/monokai-pro/jetbrains
